<mat-tab-group>
    <mat-tab label="Anmelden">
        <form>
            <mat-form-field>
                <input type="input" matInput placeholder="E-Mail" [formControl]="registerUiService.email">
                <mat-error>Bitte geben Sie eine korrekte EMail ein</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput placeholder="Passwort" [formControl]="registerUiService.password">
            </mat-form-field>
            <span class="expand"></span>
            <div class="align right">
                <button mat-button type="button" [mat-dialog-close]="null">
                    <mat-icon>close</mat-icon>&nbsp;Close
                </button>
                <button mat-button type="submit" (click)="login()">
                    <mat-icon>check</mat-icon>&nbsp;Anmelden
                </button>
            </div>
        </form>
    </mat-tab>
    <mat-tab label="Registrieren">
        <form>
            <mat-form-field>
                <input type="input" matInput placeholder="E-Mail" [formControl]="registerUiService.email">
                <mat-error>Bitte geben Sie eine korrekte EMail ein</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput placeholder="Passwort" [formControl]="registerUiService.password">
            </mat-form-field>
            <span class="expand"></span>
            <div class="align right">
                <button mat-button type="button" [mat-dialog-close]="null">
                    <mat-icon>close</mat-icon>&nbsp;Close
                </button>
                <button mat-button type="submit" (click)="register()">
                    <mat-icon>check</mat-icon>&nbsp;Registrieren
                </button>
            </div>
        </form>
    </mat-tab>
  </mat-tab-group>