<mat-accordion *ngIf="authService.isLoggedIn">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
          Neue Aufgabe anlegen
      </mat-panel-title>
      <mat-panel-description>
        
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form>
        <mat-form-field>
            <textarea matInput placeholder="Aufgabe" [formControl]="todoFormService.text"></textarea>
        </mat-form-field>
    
        <button type="submit" mat-button (click)="createTodo()">
          <mat-icon>add</mat-icon>&nbsp;Todo anlegen
        </button>
    </form>

  </mat-expansion-panel>
</mat-accordion>
<mat-list *ngIf="authService.isLoggedIn">
  <ng-container *ngFor="let todo of todoService.todos">
    <mat-list-item>
      <div class="content">
        <div class="text">
          {{todo.toDo}}
        </div>
        <span class="expand"></span>
        <mat-checkbox [checked]="todo.isDone" (click)="updateTodo(todo)"></mat-checkbox>
        <button mat-icon-button (click)="deleteTodo(todo)"><mat-icon>delete</mat-icon></button>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>
</mat-list>

<div class="disclaimer" *ngIf="!authService.isLoggedIn">
  Bitte melden Sie sich an um Ihre Aufgaben zu sehen.
</div>
