.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  line-height: 40px;
  button {
    margin-left: 12px;
  }
}

mat-list {
  background: rgba(24, 24, 24, 0.8);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
}

.disclaimer {
  padding: 32px;
  font-size: 18px;
  margin: auto;
  background: rgba(24, 24, 24, 0.8);
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  text-align: center;
}

.action {
  border-bottom: 2px solid white;
}

:host::ng-deep {
  mat-expansion-panel-header {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  }
  .mat-accordion {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75) !important;
  -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75) !important;
  box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75) !important;
  }

  mat-expansion-panel {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    background: rgba(24, 24, 24, 0.8) !important;
    border-bottom: 2px solid white;
  }


}

form {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}