:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("/assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

mat-sidenav-container {
  flex-grow: 1;
  background: transparent;
}

.content {
  max-width: 800px;
  margin: auto;
  padding: 24px;
}

mat-toolbar {
  background: rgba(24, 24, 24, 0.8);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
}

mat-sidenav {
  width: 100%;
  max-width: 400px;
}