<mat-toolbar>
  Openshift Todo Application
  <span class="expand"></span>
  <app-user-button></app-user-button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [(opened)]="sidenav.opened" position="end" mode="over">
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-container>
    <div class="content">
      <app-todolist></app-todolist>
    </div>
  </mat-sidenav-container>
</mat-sidenav-container>
