<button type="button" mat-button (click)="login()" *ngIf="!authService.isLoggedIn">
  Login
</button>

<button type="button" mat-button (click)="logout()" *ngIf="authService.isLoggedIn">
  {{authService.user.email}}&nbsp;abmelden
</button>
